[Unit]
Description=Home Assistant OS Agent
Requires=dbus.service udisks2.service
ConditionPathExists=/run/dbus/system_bus_socket

[Service]
Type=notify
Restart=always
RestartSec=5s
ExecStart=/usr/bin/os-agent

[Install]
WantedBy=multi-user.target
