name: build

on:
  release:
    types: ["published"]
  pull_request:
    branches: ["main"]

env:
  GOLANG_VERSION: "1.20"

jobs:
  build:
    name: Build OS-Agent
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0 # Needed for changelog generation

      - name: Setup go ${{ env.GOLANG_VERSION }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GOLANG_VERSION }}

      - name: Run GoReleaser build
        uses: goreleaser/goreleaser-action@v5.0.0
        if: github.event_name == 'pull_request'
        with:
          args: build --snapshot --clean

      - name: Run GoReleaser release
        uses: goreleaser/goreleaser-action@v5.0.0
        if: github.event_name == 'release'
        with:
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
