name: build

on:
  release:
    types: ["published"]
  pull_request:
    branches: ["main"]

env:
  GOLANG_VERSION: "1.15"

jobs:
  build:
    name: Build OS-Agent
    runs-on: ubuntu-latest
    container: buildpack-deps:buster
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0

      - name: Setup go ${{ env.GOLANG_VERSION }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GOLANG_VERSION }}

      - name: Run GoReleaser build
        uses: goreleaser/goreleaser-action@v2.6.1
        if: github.event_name == 'pull_request'
        with:
          args: build --rm-dist

      - name: Run GoReleaser release
        uses: goreleaser/goreleaser-action@v2.6.1
        if: github.event_name == 'release'
        with:
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Signing asset amd64
      if: github.event_name == 'release'
      uses: home-assistant/actions/helpers/codenotary@master
      with:
        source: "${{ github.workspace }}/dist/os-agent_linux_amd64/os-agent"
        user: ${{ secrets.VCN_USER }}
        password: ${{ secrets.VCN_PASSWORD }}
        organisation: ${{ secrets.VCN_ORG }}

    - name: Signing asset armv5
      if: github.event_name == 'release'
      uses: home-assistant/actions/helpers/codenotary@master
      with:
        source: "${{ github.workspace }}/dist/os-agent_linux_arm_5/os-agent"
        user: ${{ secrets.VCN_USER }}
        password: ${{ secrets.VCN_PASSWORD }}
        organisation: ${{ secrets.VCN_ORG }}

    - name: Signing asset armv7
      if: github.event_name == 'release'
      uses: home-assistant/actions/helpers/codenotary@master
      with:
        source: "${{ github.workspace }}/dist/os-agent_linux_arm_7/os-agent"
        user: ${{ secrets.VCN_USER }}
        password: ${{ secrets.VCN_PASSWORD }}
        organisation: ${{ secrets.VCN_ORG }}

    - name: Signing asset aarch64
      if: github.event_name == 'release'
      uses: home-assistant/actions/helpers/codenotary@master
      with:
        source: "${{ github.workspace }}/dist/os-agent_linux_arm64/os-agent"
        user: ${{ secrets.VCN_USER }}
        password: ${{ secrets.VCN_PASSWORD }}
        organisation: ${{ secrets.VCN_ORG }}

    - name: Signing asset i386
      if: github.event_name == 'release'
      uses: home-assistant/actions/helpers/codenotary@master
      with:
        source: "${{ github.workspace }}/dist/os-agent_linux_386/os-agent"
        user: ${{ secrets.VCN_USER }}
        password: ${{ secrets.VCN_PASSWORD }}
        organisation: ${{ secrets.VCN_ORG }}
