name: build

on:
  release:
    types: ["published"]
  pull_request:
    branches: ["main"]

env:
  GOLANG_VERSION: "1.15"

jobs:
  build:
    name: Build OS-Agent
    runs-on: ubuntu-latest
    container: buildpack-deps:buster
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0 # Needed for changelog generation

      - name: Setup go ${{ env.GOLANG_VERSION }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GOLANG_VERSION }}

      - name: Run GoReleaser build
        uses: goreleaser/goreleaser-action@v2.6.1
        if: github.event_name == 'pull_request'
        with:
          args: build --snapshot --rm-dist

      - name: Run GoReleaser release
        uses: goreleaser/goreleaser-action@v2.6.1
        if: github.event_name == 'release'
        with:
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
