name: golangci-lint
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9.0.0
        with:
          version: latest
